<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Chrome, Firefox OS, Opera and Vivaldi -->
        <meta name="theme-color" content="#222">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#222">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#222">
    <title>Bitcode Web</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="icon" type="image/gif" href="img/favicon.gif" />

    <!--<link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Josefin+Sans|Anton" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel=stylesheet type=text/css href=css/bootstrap.min.css />
    <link rel=stylesheet type=text/css href=https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel=stylesheet type=text/css href=css/style.css />
    <script type=text/javascript src=https://code.jquery.com/jquery-2.1.1.min.js></script>
    <style>
        #load_screen {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 99999
        }
        
        #loading {
            position: relative;
            top: 50%;
            -ms-transform: translate(0%, -50%);
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%)
        }
        
        .alinear {
            position: relative;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            left: 50%;
            width: 64px
        }
    </style>
    <script>
        y = 0;
        function x() { 
            var a = document.getElementById("load_screen"); jQuery(a).fadeOut("fast", function () { document.body.removeChild(a) }); y++;
        }
        func_x = setTimeout(x, 3000);
        jQuery(window).load(function () {
            if (y === 0) { clearTimeout(func_x); x(); }
        });
    </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-70364405-1', 'auto');
            ga('send', 'pageview');
        </script>
</head>

<body ng-app="contactApp">
        <div id=load_screen>
            <div id=loading>
                <div class=alinear>
                    <div class="progress">
                      <div class="indeterminate"></div>
                  </div>
                </div>
            </div>
        </div>
    <header>
        <nav>
            <div class="nav-wrapper z-depth-1">
                <div class="container">
                <a href="index.html" class="brand-logo"><img src="img/agenciadigital.svg" class="responsive-img" alt="logo" height="54px"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse waves-effect waves-red color1"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="portafolio.html">PORTAFOLIO</a></li>
                    <li><a href="pregfrec.html">PREGUNTAS FRECUENTES</a></li>
                    <li class="active"><a href="contacto.html">CONTACTO</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" class="center-align margintop10 logosidenav"><img src="img/logobitcode.svg" class="responsive-img"></a></li>
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="portafolio.html">PORTAFOLIO</a></li>
                    <li><a href="pregfrec.html">PREGUNTAS FRECUENTES</a></li>
                    <li class="active"><a href="contacto.html">CONTACTO</a></li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    
    
    <div class="redessociales hide-on-small-and-down">
        <ul>
            <li class="marginbot5">
                <a class="btn-floating btn-redes waves-effect waves-light facebook hoverable z-depth-1" href="https://www.facebook.com/bitcodeweb/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li class="marginbot5">
                <a class="btn-floating btn-redes waves-effect waves-light instagram hoverable z-depth-1" href="https://www.instagram.com/bitcodeweb/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="marginbot5">
                <a class="btn-floating btn-redes waves-effect waves-light twitter hoverable z-depth-1" href="https://twitter.com/BitcodeWeb" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="btn-floating btn-redes waves-effect waves-light google hoverable z-depth-1" href="https://plus.google.com/107681691570660029983" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

    <div class="fixed-action-btn toolbar hide-on-med-and-up">
        <a class="btn-floating btn-redes fondo3">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
        </a>
        <ul>
            <li class="waves-effect waves-light facebook"><a href="https://www.facebook.com/bitcodeweb/" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
            <li class="waves-effect waves-light instagram"><a href="https://www.instagram.com/bitcodeweb/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
            <li class="waves-effect waves-light twitter"><a href="https://twitter.com/BitcodeWeb" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
            <li class="waves-effect waves-light google"><a href="https://plus.google.com/107681691570660029983" target="_blank"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="elevator hide-on-small-and-down">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-up fa-stack-1x fa-inverse marginbot10"></i>
        </span>
    </div>
    
    <main class="marginbot25 margintopmenos25">
    
        <div class="parallax-container parallaxinicio2 margintop25">
            <div class="overlay">
                <div class="container margintop25 white-text">
                    <div class="row">
                        <h3 class="right-align"><i class="fa fa-quote-left" aria-hidden="true"></i>LO QUE NO SE EMPIEZA, <span class="color2">NUNCA TENDRÁ UN FINAL.</span></h3>
                        <h3 class="right-align bold">- Johann Wolfgang von Goethe</h3>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="img/banner2.jpg"></div>
        </div>

        <div class="row margintop25">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1 class="center-align">
                    ¿Quieres contactarte
                    <br>
                    <span class="bold"> con nosotros? </span>
                </h1>
                <p class="center-align">BITCODE te provee de soluciones a tus necesidades de diseño web, logrando plasmar personalidad a tu negocio. Se catalogan los trabajos, en caso de necesitar rediseño web, aplicar estrategia SEO, Redes Sociales o creación de marca para poder lograr soluciones efectivas para tu negocio.</p>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 margintop25">

                <div ng-controller="ContactController">
                    <form ng-submit="submit(contactform)" name="contactform" method="post" role="form">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                              <input id="nombre" type="text" class="validate" ng-model="formData.nombre" name="nombre" required>
                              <label for="nombre">Nombre</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                              <input id="numero" type="number" class="validate" ng-model="formData.numero" name="numero" required>
                              <label for="numero">Número</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="input-field">
                              <input id="email" type="email" class="validate" ng-model="formData.email" name="email" required>
                              <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="input-field">
                              <textarea id="message" class="materialize-textarea" ng-model="formData.message" name="message" required></textarea>
                              <label for="message">Comentario</label>
                            </div>
                        </div>
                        <div class="col-xs-12 center-align margintop25">
                            <button type="submit" class="waves-effect waves-light btn fondo3 z-depth-1 hoverable borderradius5" ng-disabled="submitButtonDisabled">Enviar Mensaje</button>
                        </div>
                    </form>
                    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                </div>
            </div>
        </div>


        <div class="parallax-container parallaxinicio3 margintop50">
            <div class="overlay">
                <div class="container margintop25 white-text">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <h2 class="center-align">
                                ¿Tienes preguntas diferentes
                                <br>
                                <span class="bold">  para realizarnos?</span>
                            </h2>
                            <p class="center-align">Puedes hacerlo a través de cualquiera de nuestros medios de comunicación.</p>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <a class="white-text" href="#!">
                                <h4>
                                    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> @bitcodeweb
                                </h4>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <a class="white-text" href="#!">
                                <h4>
                                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i> @bitcodeweb</i>
                                </h4>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <a class="white-text" href="#!">
                                <h4>
                                    <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> @bitcodeweb</i>
                                </h4>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <a class="white-text" href="#!">
                                <h4>
                                    <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i> @bitcodeweb</i>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="center-align">info@<span class="color2">bitcodeweb.com</span></h2>
                        <h2 class="center-align">+58 424-500-6239</h2>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="img/banner2.jpg"></div>
        </div>


    </main>
    <footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <h4>CONTÁCTANOS</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td class="tablafooter">
                                    <a href="#!">
                                        <i class="fa fa-envelope fa-2x color3" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="paddingtop1 paddingbot0">
                                    <a href="#!">
                                        <p class="margintop0 marginbot0 color1">info@bitcodeweb.com</p>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tablafooter">
                                    <a href="#!">
                                        <i class="fa fa-phone fa-2x color3" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="paddingtop1 paddingbot0">
                                    <a href="#!">
                                        <p class="margintop0 marginbot0 color1">+58 424-5006239</p>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tablafooter">
                                    <a href="#!">
                                        <i class="fa fa-phone fa-2x color3" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="paddingtop1 paddingbot0">
                                    <a href="#!">
                                        <p class="margintop0 marginbot0 color1">+58 414-5190399</p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>SÍGUENOS</h4>
                    <a class="btn-floating btn-redes waves-effect waves-light facebook hoverable z-depth-1" href="https://www.facebook.com/bitcodeweb/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a class="btn-floating btn-redes waves-effect waves-light instagram hoverable z-depth-1" href="https://www.instagram.com/bitcodeweb/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="btn-floating btn-redes waves-effect waves-light twitter hoverable z-depth-1" href="https://twitter.com/BitcodeWeb" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="btn-floating btn-redes waves-effect waves-light google hoverable z-depth-1" href="https://plus.google.com/107681691570660029983" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>MENÚ</h4>
                    <ul class="">
                        <li class="active"><a href="index.html"><p class="color1">INICIO</p></a></li>
                        <li><a href="nosotros.html"><p class="color1">NOSOTROS</p></a></li>
                        <li><a href="servicios.html"><p class="color1">SERVICIOS</p></a></li>
                        <li><a href="portafolio.html"><p class="color1">PORTAFOLIO</p></a></li>
                        <li><a href="pregfrec.html"><p class="color1">PREGUNTAS FRECUENTES</p></a></li>
                        <li><a href="contacto.html"><p class="color1">CONTACTO</p></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="row center-align margintop10">
                        <img src="img/agenciadigital.svg" class="responsive-img" alt="logo" width="220px">
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <p class="center-align">Bitcode C.A RIF: J-40652187-6</p>
                    </div>
                </div>

            </div>
        </div>
        <div class=footer>
            <div class=container>
                <div class="row marginbot0">
                    <div class=col-md-12>
                        <div class=center-align>
                            <p class="copyright center-align small"> Todos los Derechos Reservados | Desarrollado por
                                <a href=http://bitcodeweb.com/ target=_blank class="verticalaligntextbottom"><img src=img/logobitcodeb.svg height="22px" width="auto"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js></script>
    <script src='js/elevator.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script>
        var elementButton = document.querySelector('.elevator');
        var elevator = new Elevator({ element: elementButton, mainAudio: './music/elevator.mp3',  endAudio:  './music/ding.mp3' });
    </script>
    <script>
        $(window).scroll(function() { if ($(this).scrollTop()) { $('.elevator').fadeIn(); } else { $('.elevator').fadeOut(); } });
    </script>
    <script>
        jQuery(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.parallax').parallax();
        });
    </script>
</body>

</html>